# Tiền sử lý dữ liệu

## Đọc dữ liệu đầu vào

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data/Data_for_big_project/archive/WA_Fn-UseC_-HR-Employee-Attrition.csv')

## Thống kê chi tiết về dữ liệu

In [ ]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

Dữ liệu có 35 cột trong đó có:
- Cột 1 là quyết định nghỉ việc của nhân viên.
- Các cột còn lại là dữ liệu.

<hr>

Trích lấy `X` là các cột ngoài cột `Attrition`, `y` là cột `Attrition`

In [ ]:
X = df.drop(['Attrition', 'EmployeeNumber'], axis=1)
y = df['Attrition']

In [ ]:
print(f'Số bản ghi dữ liệu: {len(X)}')
print(f'Số cột dữ liệu (tập X): {len(X.columns)}')

Số bản ghi dữ liệu: 1470
Số cột dữ liệu (tập X): 33

Dữ liệu cơ bản đầy đủ, không bị thiếu hoặc null.

<hr>

Thống kê chi tiết các trường.

In [ ]:
columns = X.columns

for col in columns:
    print(f'Thống kê cho cột {col}')
    print(X[col].value_counts())
    print('=' * 50)

Thống kê cho cột Age
Age
35    78
34    77
36    69
31    69
29    68
32    61
30    60
38    58
33    58
40    57
37    50
28    48
27    48
42    46
39    42
45    41
41    40
26    39
44    33
46    33
43    32
50    30
25    26
24    26
49    24
47    24
55    22
48    19
51    19
53    19
54    18
52    18
22    16
56    14
58    14
23    14
21    13
20    11
59    10
19     9
18     8
60     5
57     4
Name: count, dtype: int64
==================================================
Thống kê cho cột BusinessTravel
BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64
==================================================
Thống kê cho cột DailyRate
DailyRate
691     6
1082    5
329     5
530     5
408     5
       ..
1382    1
161     1
801     1
642     1
1154    1
Name: count, Length: 886, dtype: int64
==================================================
Thống kê cho cột Department
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64
==================================================
Thống kê cho cột DistanceFromHome
DistanceFromHome
2     211
1     208
10     86
9      85
3      84
7      84
8      80
5      65
4      64
6      59
16     32
11     29
24     28
29     27
23     27
15     26
18     26
20     25
25     25
26     25
28     23
19     22
14     21
12     20
17     20
22     19
13     19
21     18
27     12
Name: count, dtype: int64
==================================================
Thống kê cho cột Education
Education
3    572
4    398
2    282
1    170
5     48
Name: count, dtype: int64
==================================================
Thống kê cho cột EducationField
EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64
==================================================
Thống kê cho cột EmployeeCount
EmployeeCount
1    1470
Name: count, dtype: int64
==================================================
Thống kê cho cột EnvironmentSatisfaction
EnvironmentSatisfaction
3    453
4    446
2    287
1    284
Name: count, dtype: int64
==================================================
Thống kê cho cột Gender
Gender
Male      882
Female    588
Name: count, dtype: int64
==================================================
Thống kê cho cột HourlyRate
HourlyRate
66    29
84    28
42    28
98    28
48    28
      ..
89    15
53    14
68    14
38    13
34    12
Name: count, Length: 71, dtype: int64
==================================================
Thống kê cho cột JobInvolvement
JobInvolvement
3    868
2    375
4    144
1     83
Name: count, dtype: int64
==================================================
Thống kê cho cột JobLevel
JobLevel
1    543
2    534
3    218
4    106
5     69
Name: count, dtype: int64
==================================================
Thống kê cho cột JobRole
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64
==================================================
Thống kê cho cột JobSatisfaction
JobSatisfaction
4    459
3    442
1    289
2    280
Name: count, dtype: int64
==================================================
Thống kê cho cột MaritalStatus
MaritalStatus
Married     673
Single      470
Divorced    327
Name: count, dtype: int64
==================================================
Thống kê cho cột MonthlyIncome
MonthlyIncome
2342     4
3452     3
2559     3
2610     3
2451     3
        ..
3041     1
2579     1
5985     1
15402    1
2083     1
Name: count, Length: 1349, dtype: int64
==================================================
Thống kê cho cột MonthlyRate
MonthlyRate
4223     3
9150     3
21534    2
22074    2
25326    2
        ..
3010     1
5013     1
6219     1
14004    1
26894    1
Name: count, Length: 1427, dtype: int64
==================================================
Thống kê cho cột NumCompaniesWorked
NumCompaniesWorked
1    521
0    197
3    159
2    146
4    139
7     74
6     70
5     63
9     52
8     49
Name: count, dtype: int64
==================================================
Thống kê cho cột Over18
Over18
Y    1470
Name: count, dtype: int64
==================================================
Thống kê cho cột OverTime
OverTime
No     1054
Yes     416
Name: count, dtype: int64
==================================================
Thống kê cho cột PercentSalaryHike
PercentSalaryHike
11    210
13    209
14    201
12    198
15    101
18     89
17     82
16     78
19     76
22     56
20     55
21     48
23     28
24     21
25     18
Name: count, dtype: int64
==================================================
Thống kê cho cột PerformanceRating
PerformanceRating
3    1244
4     226
Name: count, dtype: int64
==================================================
Thống kê cho cột RelationshipSatisfaction
RelationshipSatisfaction
3    459
4    432
2    303
1    276
Name: count, dtype: int64
==================================================
Thống kê cho cột StandardHours
StandardHours
80    1470
Name: count, dtype: int64
==================================================
Thống kê cho cột StockOptionLevel
StockOptionLevel
0    631
1    596
2    158
3     85
Name: count, dtype: int64
==================================================
Thống kê cho cột TotalWorkingYears
TotalWorkingYears
10    202
6     125
8     103
9      96
5      88
7      81
1      81
4      63
12     48
3      42
15     40
16     37
11     36
13     36
21     34
17     33
14     31
2      31
20     30
18     27
19     22
23     22
22     21
24     18
26     14
25     14
28     14
0      11
29     10
31      9
32      9
30      7
33      7
27      7
36      6
34      5
37      4
35      3
40      2
38      1
Name: count, dtype: int64
==================================================
Thống kê cho cột TrainingTimesLastYear
TrainingTimesLastYear
2    547
3    491
4    123
5    119
1     71
6     65
0     54
Name: count, dtype: int64
==================================================
Thống kê cho cột WorkLifeBalance
WorkLifeBalance
3    893
2    344
4    153
1     80
Name: count, dtype: int64
==================================================
Thống kê cho cột YearsAtCompany
YearsAtCompany
5     196
1     171
3     128
2     127
10    120
4     110
7      90
9      82
8      80
6      76
0      44
11     32
20     27
13     24
15     20
14     18
22     15
21     14
12     14
18     13
16     12
19     11
17      9
24      6
33      5
26      4
25      4
31      3
32      3
27      2
29      2
36      2
23      2
37      1
40      1
34      1
30      1
Name: count, dtype: int64
==================================================
Thống kê cho cột YearsInCurrentRole
YearsInCurrentRole
2     372
0     244
7     222
3     135
4     104
8      89
9      67
1      57
6      37
5      36
10     29
11     22
13     14
14     11
12     10
15      8
16      7
17      4
18      2
Name: count, dtype: int64
==================================================
Thống kê cho cột YearsSinceLastPromotion
YearsSinceLastPromotion
0     581
1     357
2     159
7      76
4      61
3      52
5      45
6      32
11     24
8      18
9      17
15     13
13     10
12     10
14      9
10      6
Name: count, dtype: int64
==================================================
Thống kê cho cột YearsWithCurrManager
YearsWithCurrManager
2     344
0     263
7     216
3     142
8     107
4      98
1      76
9      64
5      31
6      29
10     27
11     22
12     18
13     14
17      7
15      5
14      5
16      2
Name: count, dtype: int64
==================================================

<hr>

# Dữ liệu chưa chia

In [ ]:
X_origin = X.copy()
y_origin = y.copy()

In [ ]:
X_origin

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,Female,...,1,80,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,3,Male,...,4,80,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,Male,...,2,80,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,4,Female,...,3,80,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,1,Male,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,3,Male,...,3,80,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,4,Male,...,1,80,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2,Male,...,2,80,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,1023,Sales,2,3,Medical,1,4,Male,...,4,80,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2,Male,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
y_origin

0       Yes
1        No
2       Yes
3        No
4        No
       ...
1465     No
1466     No
1467     No
1468     No
1469     No
Name: Attrition, Length: 1470, dtype: object

In [ ]:
num_classes = y_origin.value_counts()
number_classes = len(num_classes)
print(num_classes)

Attrition
No     1233
Yes     237
Name: count, dtype: int64

## Dữ liệu sau khi sử dụng One Hot Encoding và Label Encoding

Sử dụng thư viện `sklearn` để mã hóa one hot cho dữ liệu ban đầu

In [ ]:
X_encode = X.copy()
y_encode = y.copy()

In [ ]:
print(X_encode.shape)

(1470, 33)

In [ ]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# define model encoding
one_hot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
label_encoder = LabelEncoder()

Encode với X

In [ ]:
columns_encode = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
print("X_encode:")
print(X_encode)
print("-------------------")

# Dữ liệu sẽ được encode trong các cột bên trên
X_encoded_array = one_hot_encoder.fit_transform(X_encode[columns_encode])
print("X_encode[columns_encode]: ")
print(X_encode[columns_encode])
print("-------------------")

print("X_encoded_array: ")
print(X_encoded_array)
print("-------------------")

encoded_columns = one_hot_encoder.get_feature_names_out(columns_encode)
print("encoded_columns: ")
print(encoded_columns)
print("-------------------")

# Chuyển từ dạng nén, vector sang Dataframe cho dễ sử dụng hơn
X_encoded_df = pd.DataFrame(X_encoded_array, columns=encoded_columns, index=X_encode.index)
print("X_encoded_df:")
print(X_encoded_df)
print("-------------------")

# Xóa cột thừa có chữa kiểu string vì không sử dụng được
X_encode = pd.concat([X_encode.drop(columns=columns_encode, axis=1), X_encoded_df], axis=1)
print("X_encode: ")
print(X_encode)
print("-------------------")

X_encode:
      Age     BusinessTravel  DailyRate              Department  \
0      41      Travel_Rarely       1102                   Sales
1      49  Travel_Frequently        279  Research & Development
2      37      Travel_Rarely       1373  Research & Development
3      33  Travel_Frequently       1392  Research & Development
4      27      Travel_Rarely        591  Research & Development
...   ...                ...        ...                     ...
1465   36  Travel_Frequently        884  Research & Development
1466   39      Travel_Rarely        613  Research & Development
1467   27      Travel_Rarely        155  Research & Development
1468   49  Travel_Frequently       1023                   Sales
1469   34      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EnvironmentSatisfaction  Gender  ...  RelationshipSatisfaction  \
0                           2  Female  ...                         1
1                           3    Male  ...                         4
2                           4    Male  ...                         2
3                           4  Female  ...                         3
4                           1    Male  ...                         4
...                       ...     ...  ...                       ...
1465                        3    Male  ...                         3
1466                        4    Male  ...                         1
1467                        2    Male  ...                         2
1468                        4    Male  ...                         4
1469                        2    Male  ...                         1

      StandardHours  StockOptionLevel TotalWorkingYears  \
0                80                 0                 8
1                80                 1                10
2                80                 0                 7
3                80                 0                 8
4                80                 1                 6
...             ...               ...               ...
1465             80                 1                17
1466             80                 1                 9
1467             80                 1                 6
1468             80                 0                17
1469             80                 0                 6

      TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                         0               1               6
1                         3               3              10
2                         3               3               0
3                         3               3               8
4                         3               3               2
...                     ...             ...             ...
1465                      3               3               5
1466                      5               3               7
1467                      0               3               6
1468                      3               2               9
1469                      3               4               4

      YearsInCurrentRole  YearsSinceLastPromotion YearsWithCurrManager
0                      4                        0                    5
1                      7                        1                    7
2                      0                        0                    0
3                      7                        3                    0
4                      2                        2                    2
...                  ...                      ...                  ...
1465                   2                        0                    3
1466                   7                        1                    7
1467                   2                        0                    3
1468                   6                        0                    8
1469                   3                        1                    2

[1470 rows x 33 columns]
-------------------
X_encode[columns_encode]:
         BusinessTravel              Department EducationField  Gender  \
0         Travel_Rarely                   Sales  Life Sciences  Female
1     Travel_Frequently  Research & Development  Life Sciences    Male
2         Travel_Rarely  Research & Development          Other    Male
3     Travel_Frequently  Research & Development  Life Sciences  Female
4         Travel_Rarely  Research & Development        Medical    Male
...                 ...                     ...            ...     ...
1465  Travel_Frequently  Research & Development        Medical    Male
1466      Travel_Rarely  Research & Development        Medical    Male
1467      Travel_Rarely  Research & Development  Life Sciences    Male
1468  Travel_Frequently                   Sales        Medical    Male
1469      Travel_Rarely  Research & Development        Medical    Male

                        JobRole MaritalStatus Over18 OverTime
0               Sales Executive        Single      Y      Yes
1            Research Scientist       Married      Y       No
2         Laboratory Technician        Single      Y      Yes
3            Research Scientist       Married      Y      Yes
4         Laboratory Technician       Married      Y       No
...                         ...           ...    ...      ...
1465      Laboratory Technician       Married      Y       No
1466  Healthcare Representative       Married      Y       No
1467     Manufacturing Director       Married      Y      Yes
1468            Sales Executive       Married      Y       No
1469      Laboratory Technician       Married      Y       No

[1470 rows x 8 columns]
-------------------
X_encoded_array:
[[0. 0. 1. ... 1. 0. 1.]
 [0. 1. 0. ... 1. 1. 0.]
 [0. 0. 1. ... 1. 0. 1.]
 ...
 [0. 0. 1. ... 1. 0. 1.]
 [0. 1. 0. ... 1. 1. 0.]
 [0. 0. 1. ... 1. 1. 0.]]
-------------------
encoded_columns:
['BusinessTravel_Non-Travel' 'BusinessTravel_Travel_Frequently'
 'BusinessTravel_Travel_Rarely' 'Department_Human Resources'
 'Department_Research & Development' 'Department_Sales'
 'EducationField_Human Resources' 'EducationField_Life Sciences'
 'EducationField_Marketing' 'EducationField_Medical'
 'EducationField_Other' 'EducationField_Technical Degree' 'Gender_Female'
 'Gender_Male' 'JobRole_Healthcare Representative'
 'JobRole_Human Resources' 'JobRole_Laboratory Technician'
 'JobRole_Manager' 'JobRole_Manufacturing Director'
 'JobRole_Research Director' 'JobRole_Research Scientist'
 'JobRole_Sales Executive' 'JobRole_Sales Representative'
 'MaritalStatus_Divorced' 'MaritalStatus_Married' 'MaritalStatus_Single'
 'Over18_Y' 'OverTime_No' 'OverTime_Yes']
-------------------
X_encoded_df:
      BusinessTravel_Non-Travel  BusinessTravel_Travel_Frequently  \
0                           0.0                               0.0
1                           0.0                               1.0
2                           0.0                               0.0
3                           0.0                               1.0
4                           0.0                               0.0
...                         ...                               ...
1465                        0.0                               1.0
1466                        0.0                               0.0
1467                        0.0                               0.0
1468                        0.0                               1.0
1469                        0.0                               0.0

      BusinessTravel_Travel_Rarely  Department_Human Resources  \
0                              1.0                         0.0
1                              0.0                         0.0
2                              1.0                         0.0
3                              0.0                         0.0
4                              1.0                         0.0
...                            ...                         ...
1465                           0.0                         0.0
1466                           1.0                         0.0
1467                           1.0                         0.0
1468                           0.0                         0.0
1469                           1.0                         0.0

      Department_Research & Development  Department_Sales  \
0                                   0.0               1.0
1                                   1.0               0.0
2                                   1.0               0.0
3                                   1.0               0.0
4                                   1.0               0.0
...                                 ...               ...
1465                                1.0               0.0
1466                                1.0               0.0
1467                                1.0               0.0
1468                                0.0               1.0
1469                                1.0               0.0

      EducationField_Human Resources  EducationField_Life Sciences  \
0                                0.0                           1.0
1                                0.0                           1.0
2                                0.0                           0.0
3                                0.0                           1.0
4                                0.0                           0.0
...                              ...                           ...
1465                             0.0                           0.0
1466                             0.0                           0.0
1467                             0.0                           1.0
1468                             0.0                           0.0
1469                             0.0                           0.0

      EducationField_Marketing  EducationField_Medical  ...  \
0                          0.0                     0.0  ...
1                          0.0                     0.0  ...
2                          0.0                     0.0  ...
3                          0.0                     0.0  ...
4                          0.0                     1.0  ...
...                        ...                     ...  ...
1465                       0.0                     1.0  ...
1466                       0.0                     1.0  ...
1467                       0.0                     0.0  ...
1468                       0.0                     1.0  ...
1469                       0.0                     1.0  ...

      JobRole_Research Director  JobRole_Research Scientist  \
0                           0.0                         0.0
1                           0.0                         1.0
2                           0.0                         0.0
3                           0.0                         1.0
4                           0.0                         0.0
...                         ...                         ...
1465                        0.0                         0.0
1466                        0.0                         0.0
1467                        0.0                         0.0
1468                        0.0                         0.0
1469                        0.0                         0.0

      JobRole_Sales Executive  JobRole_Sales Representative  \
0                         1.0                           0.0
1                         0.0                           0.0
2                         0.0                           0.0
3                         0.0                           0.0
4                         0.0                           0.0
...                       ...                           ...
1465                      0.0                           0.0
1466                      0.0                           0.0
1467                      0.0                           0.0
1468                      1.0                           0.0
1469                      0.0                           0.0

      MaritalStatus_Divorced  MaritalStatus_Married  MaritalStatus_Single  \
0                        0.0                    0.0                   1.0
1                        0.0                    1.0                   0.0
2                        0.0                    0.0                   1.0
3                        0.0                    1.0                   0.0
4                        0.0                    1.0                   0.0
...                      ...                    ...                   ...
1465                     0.0                    1.0                   0.0
1466                     0.0                    1.0                   0.0
1467                     0.0                    1.0                   0.0
1468                     0.0                    1.0                   0.0
1469                     0.0                    1.0                   0.0

      Over18_Y  OverTime_No  OverTime_Yes
0          1.0          0.0           1.0
1          1.0          1.0           0.0
2          1.0          0.0           1.0
3          1.0          0.0           1.0
4          1.0          1.0           0.0
...        ...          ...           ...
1465       1.0          1.0           0.0
1466       1.0          1.0           0.0
1467       1.0          0.0           1.0
1468       1.0          1.0           0.0
1469       1.0          1.0           0.0

[1470 rows x 29 columns]
-------------------
X_encode:
      Age  DailyRate  DistanceFromHome  Education  EmployeeCount  \
0      41       1102                 1          2              1
1      49        279                 8          1              1
2      37       1373                 2          2              1
3      33       1392                 3          4              1
4      27        591                 2          1              1
...   ...        ...               ...        ...            ...
1465   36        884                23          2              1
1466   39        613                 6          1              1
1467   27        155                 4          3              1
1468   49       1023                 2          3              1
1469   34        628                 8          3              1

      EnvironmentSatisfaction  HourlyRate  JobInvolvement  JobLevel  \
0                           2          94               3         2
1                           3          61               2         2
2                           4          92               2         1
3                           4          56               3         1
4                           1          40               3         1
...                       ...         ...             ...       ...
1465                        3          41               4         2
1466                        4          42               2         3
1467                        2          87               4         2
1468                        4          63               2         2
1469                        2          82               4         2

      JobSatisfaction  ...  JobRole_Research Director  \
0                   4  ...                        0.0
1                   2  ...                        0.0
2                   3  ...                        0.0
3                   3  ...                        0.0
4                   2  ...                        0.0
...               ...  ...                        ...
1465                4  ...                        0.0
1466                1  ...                        0.0
1467                2  ...                        0.0
1468                2  ...                        0.0
1469                3  ...                        0.0

      JobRole_Research Scientist  JobRole_Sales Executive  \
0                            0.0                      1.0
1                            1.0                      0.0
2                            0.0                      0.0
3                            1.0                      0.0
4                            0.0                      0.0
...                          ...                      ...
1465                         0.0                      0.0
1466                         0.0                      0.0
1467                         0.0                      0.0
1468                         0.0                      1.0
1469                         0.0                      0.0

      JobRole_Sales Representative  MaritalStatus_Divorced  \
0                              0.0                     0.0
1                              0.0                     0.0
2                              0.0                     0.0
3                              0.0                     0.0
4                              0.0                     0.0
...                            ...                     ...
1465                           0.0                     0.0
1466                           0.0                     0.0
1467                           0.0                     0.0
1468                           0.0                     0.0
1469                           0.0                     0.0

      MaritalStatus_Married  MaritalStatus_Single  Over18_Y  OverTime_No  \
0                       0.0                   1.0       1.0          0.0
1                       1.0                   0.0       1.0          1.0
2                       0.0                   1.0       1.0          0.0
3                       1.0                   0.0       1.0          0.0
4                       1.0                   0.0       1.0          1.0
...                     ...                   ...       ...          ...
1465                    1.0                   0.0       1.0          1.0
1466                    1.0                   0.0       1.0          1.0
1467                    1.0                   0.0       1.0          0.0
1468                    1.0                   0.0       1.0          1.0
1469                    1.0                   0.0       1.0          1.0

      OverTime_Yes
0              1.0
1              0.0
2              1.0
3              1.0
4              0.0
...            ...
1465           0.0
1466           0.0
1467           1.0
1468           0.0
1469           0.0

[1470 rows x 54 columns]
-------------------

In [ ]:
print(X_encode.shape)

(1470, 54)

In [ ]:
X_encode

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,2,94,3,2,4,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,3,61,2,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,92,2,1,3,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,4,56,3,1,3,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,1,40,3,1,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,3,41,4,2,4,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
1466,39,613,6,1,1,4,42,2,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
1467,27,155,4,3,1,2,87,4,2,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1468,49,1023,2,3,1,4,63,2,2,2,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
1469,34,628,8,3,1,2,82,4,2,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

Encode labels với y

In [ ]:
y_encode = label_encoder.fit_transform(y_encode)

In [ ]:
y_encode

array([1, 0, 1, ..., 0, 0, 0])

In [ ]:
print(f'Hình dạng của X sau khi mã hóa: {X_encode.shape}')
print(f'Kiểu của X sau khi mã hóa: {type(X_encode)}')

Hình dạng của X sau khi mã hóa: (1470, 54)
Kiểu của X sau khi mã hóa: <class 'pandas.core.frame.DataFrame'>

Dữ liệu đã được encode:
- Với X là `X_encode`
- với y là `y_encode`

## Dữ liệu sau khi chuẩn hóa bằng `StandardScaler` (Đã trải qua OHE và Labels Encode)

In [ ]:
X_standard = X_encode.copy()
y_standard = y_encode.copy()

In [ ]:
from sklearn.preprocessing import StandardScaler

#define model
scaler = StandardScaler()

In [ ]:
X_standard = scaler.fit_transform(X_standard)
print("X_standard: ")
print(X_standard)

X_standard:
[[ 0.4463504   0.74252653 -1.01090934 ...  0.         -1.59174553
   1.59174553]
 [ 1.32236521 -1.2977746  -0.14714972 ...  0.          0.62824112
  -0.62824112]
 [ 0.008343    1.41436324 -0.88751511 ...  0.         -1.59174553
   1.59174553]
 ...
 [-1.08667552 -1.60518328 -0.64072665 ...  0.         -1.59174553
   1.59174553]
 [ 1.32236521  0.54667746 -0.88751511 ...  0.          0.62824112
  -0.62824112]
 [-0.32016256 -0.43256792 -0.14714972 ...  0.          0.62824112
  -0.62824112]]

In [ ]:
print(f'Hình dạng của X sau khi chuẩn hóa: {X_standard.shape}')
print(f'Kiểu của X sau khi chuẩn hóa: {type(X_standard)}')

Hình dạng của X sau khi chuẩn hóa: (1470, 54)
Kiểu của X sau khi chuẩn hóa: <class 'numpy.ndarray'>

Dữ liệu đã được chuẩn hóa: `X_standard`, `y_standard`

## Dữ liệu sau khi giảm chiều

### Giảm chiều bằng PCA mà không chuẩn hóa

#### Sẽ thực hiện giảm chiều dữ liệu 80, 90, 95% covariance được giữ lại (giảm trước khi chia train/test)

Kí hiệu pca_(covariance) tức là kí hiệu với việ thực hiện giảm chiều với việc giữ lại phần trăm covarince

In [ ]:
X_pca = X_encode.copy()
y_pca = y_encode.copy()

In [ ]:
from sklearn.decomposition import PCA

pca_80_percent = PCA(n_components=0.8)
pca_90_percent = PCA(n_components=0.9)
pca_95_percent = PCA(n_components=0.95)

X_pca_80 = pca_80_percent.fit_transform(X_pca)
X_pca_90 = pca_90_percent.fit_transform(X_pca)
X_pca_95 = pca_95_percent.fit_transform(X_pca)

Chia dữ liệu, mặc định chia với tỉ lệ Train / Test = 7 / 3

In [ ]:
from sklearn.model_selection import train_test_split
X_train_after_pca_80, X_test_after_pca_80, y_train_after_pca_80, y_test_after_pca_80 = train_test_split(X_pca_80, y_pca, test_size=0.3, random_state=42)

X_train_after_pca_90, X_test_after_pca_90, y_train_after_pca_90, y_test_after_pca_90 = train_test_split(X_pca_90, y_pca, test_size=0.3, random_state=42)

X_train_after_pca_95, X_test_after_pca_95, y_train_after_pca_95, y_test_after_pca_95 = train_test_split(X_pca_95, y_pca, test_size=0.3, random_state=42)

Chia trước khi giảm chiều

In [ ]:
X_pca = X_encode.copy()
y_pca = y_encode.copy()

X_train_before_pca, X_test_before_pca, y_train_before_pca, y_test_before_pca = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

In [ ]:
from sklearn.decomposition import PCA

pca_20_percent = PCA(n_components=0.8)
pca_50_percent = PCA(n_components=0.90)
pca_80_percent = PCA(n_components=0.95)

X_train_before_pca_80 = pca_80_percent.fit_transform(X_train_before_pca)
X_test_before_pca_80 = pca_80_percent.transform(X_test_before_pca)

X_train_before_pca_90 = pca_50_percent.fit_transform(X_train_before_pca)
X_test_before_pca_90 = pca_50_percent.transform(X_test_before_pca)

X_train_before_pca_95 = pca_20_percent.fit_transform(X_train_before_pca)
X_test_before_pca_95 = pca_20_percent.transform(X_test_before_pca)

***Thực hiện với lần lượt các train, test trên***

#### Thực hiện giảm chiều giữ lại 2, 4, 8, 10

Ở phần này chỉ thực hiện mỗi việc chia rồi mới giảm chiều

In [ ]:
X_pca = X_encode.copy()
y_pca = y_encode.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train_pca_n2, X_test_pca_n2, y_train_pca_n2, y_test_pca_n2 = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

X_train_pca_n4, X_test_pca_n4, y_train_pca_n4, y_test_pca_n4 = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

X_train_pca_n8, X_test_pca_n8, y_train_pca_n8, y_test_pca_n8 = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

X_train_pca_n10, X_test_pca_n10, y_train_pca_n10, y_test_pca_n10 = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

Ở đây kí hiệu pca_n2 tức là thực hiện pca với n = 2

In [ ]:
from sklearn.decomposition import PCA

pca_n2 = PCA(n_components=2)
pca_n4 = PCA(n_components=4)
pca_n8 = PCA(n_components=8)
pca_n10 = PCA(n_components=10)

X_train_pca_n2 = pca_n2.fit_transform(X_train_pca_n2)
X_test_pca_n2 = pca_n2.transform(X_test_pca_n2)

X_train_pca_n4 = pca_n4.fit_transform(X_train_pca_n4)
X_test_pca_n4 = pca_n4.transform(X_test_pca_n4)

X_train_pca_n8 = pca_n8.fit_transform(X_train_pca_n8)
X_test_pca_n8 = pca_n8.transform(X_test_pca_n8)

X_train_pca_n10 = pca_n10.fit_transform(X_train_pca_n10)
X_test_pca_n10 = pca_n10.transform(X_test_pca_n10)

### Giảm chiều dữ liệu bằng PCA đã được chuẩn hóa

Chỉ thực hiện với việc chia xong rồi giảm chiều

#### Giữ lại % covariance

In [ ]:
X_pca = X_standard.copy()
y_pca = y_standard.copy()

In [ ]:
X_train_before_pca, X_test_before_pca, y_train_before_pca, y_test_before_pca = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

In [ ]:
from sklearn.decomposition import PCA

pca_80_percent = PCA(n_components=0.8)
pca_90_percent = PCA(n_components=0.90)
pca_95_percent = PCA(n_components=0.95)

X_train_before_pca_80_std = pca_80_percent.fit_transform(X_train_before_pca)
X_test_before_pca_80_std = pca_80_percent.transform(X_test_before_pca)

X_train_before_pca_90_std = pca_90_percent.fit_transform(X_train_before_pca)
X_test_before_pca_90_std = pca_90_percent.transform(X_test_before_pca)

X_train_before_pca_95_std = pca_95_percent.fit_transform(X_train_before_pca)
X_test_before_pca_95_std = pca_95_percent.transform(X_test_before_pca)

#### Giữ lại n thành phần

In [ ]:
X_pca = X_standard.copy()
y_pca = X_standard.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train_pca_n2, X_test_pca_n2, y_train_pca_n2, y_test_pca_n2 = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

X_train_pca_n4, X_test_pca_n4, y_train_pca_n4, y_test_pca_n4 = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

X_train_pca_n8, X_test_pca_n8, y_train_pca_n8, y_test_pca_n8 = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

X_train_pca_n10, X_test_pca_n10, y_train_pca_n10, y_test_pca_n10 = train_test_split(X_pca, y_pca, test_size=0.3, random_state=42)

In [ ]:
from sklearn.decomposition import PCA

pca_n2 = PCA(n_components=2)
pca_n4 = PCA(n_components=4)
pca_n8 = PCA(n_components=8)
pca_n10 = PCA(n_components=10)

X_train_pca_n2_std = pca_n2.fit_transform(X_train_pca_n2)
X_test_pca_n2_std = pca_n2.transform(X_test_pca_n2)

X_train_pca_n4_std = pca_n4.fit_transform(X_train_pca_n4)
X_test_pca_n4_std = pca_n4.transform(X_test_pca_n4)

X_train_pca_n8_std = pca_n8.fit_transform(X_train_pca_n8)
X_test_pca_n8_std = pca_n8.transform(X_test_pca_n8)

X_train_pca_n10_std = pca_n10.fit_transform(X_train_pca_n10)
X_test_pca_n10_std = pca_n10.transform(X_test_pca_n10)

### Giảm chiều dùng LDA với dữ liệu đã chuẩn hóa

Giảm tối đa số chiều

In [ ]:
X_lda = X_standard.copy()
y_lda = y_standard.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train_lda, X_test_lda, y_train_lda, y_test_lda = train_test_split(X_lda, y_lda, test_size=0.3, random_state=42)

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

lda = LinearDiscriminantAnalysis(n_components = number_classes - 1)

X_train_lda_std = lda.fit_transform(X_train_lda, y_train_lda)
X_test_lda_std = lda.transform(X_test_lda)

### Sử dụng LDA chưa chuẩn hóa

In [ ]:
X_lda = X_encode.copy()
y_lda = y_encode.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train_lda, X_test_lda, y_train_lda, y_test_lda = train_test_split(X_lda, y_lda, test_size=0.3, random_state=42)

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

lda = LinearDiscriminantAnalysis(n_components = number_classes - 1)

X_train_lda = lda.fit_transform(X_train_lda, y_train_lda)
X_test_lda = lda.transform(X_test_lda)

# Mô tả dữ liệu

Về dữ liệu nguyên thủy: `X_origin`, `y_origin`

Về dữ liệu đã được mã hóa: `X_encode`, `y_encode`

Về dữ liệu đã được chuẩn hóa: `X_standard`, `y_standard`

Đối với dữ liệu đã được giảm chiều mà không chuẩn hóa:
- Thực hiện giữ lại `n%` covariance giảm sau đó chia train/test: `X_train_after_pca_n`, `X_test_after_pca_n`, `y_train_after_pca_n`, `y_test_after_pca_n`. với n ở đây là 80, 90, 95%

- Thực hiện giữ lại `n%` covariance giảm trước đó chia train/test: `X_train_before_pca_n`, `X_test_before_pca_n`, `y_train_before_pca_n`, `y_test_before_pca_n`. với n ở đây là 80, 90, 95%

- Thực hiện giữ lại `n` thành phần: `X_train_pca_n<n>`, `X_test_pca_n<n>`, `y_train_pca_n<n>`, `X_test_pca_n<n>` với n trong dấu `<n>` là số phần tử được giữ lại với n ở đây là 2, 4, 8, 10.

Giảm chiều bằng PCA với dữ liệu đã được chuẩn hóa trước đó:
- Giữ lại `n%` covariance: `X_train_before_pca_<n>_std`, `X_test_before_pca_<n>_std`, `y_train_before_pca_<n>_std`, `y_test_before_pca_<n>_std`  


- Giữ lại `n` với `n` được đặt trong `<_>` thành phần: `X_train_pca_n<n>_std`, `X_test_pca_n<n>_std`, `y_train_pca_n<n>_std`, `y_test_pca_n<n>_std` với n thuộc 2, 4, 8, 10

Giảm chiều với LDA đã được chuẩn hóa: `X_train_lda_std`, `X_test_lda_std`, `y_train_lda_std`, `y_test_lda_std`

Giảm chiều vói LDA chưa chuẩn hóa: `X_train_lda`, `X_test_lda`, `y_train_lda`, `y_test_lda`

# Chia dữ liệu

## Dữ liệu liên tục

In [ ]:
X_continuous_data = X_origin.copy()
y_continuous_data = y_encode.copy()

In [ ]:
continous_data = [
    'Age',
    'DailyRate',
    'DistanceFromHome',
    'EmployeeCount',
    'HourlyRate',
    'MonthlyIncome',
    'MonthlyRate',
    'NumCompaniesWorked',
    'PercentSalaryHike',
    'StandardHours',
    'TotalWorkingYears',
    'TrainingTimesLastYear',
    'YearsAtCompany',
    'YearsInCurrentRole',
    'YearsSinceLastPromotion',
    'YearsWithCurrManager'
]

In [ ]:
X_continuous_data = X[continous_data]

In [ ]:
X_continuous_data

,Age,DailyRate,DistanceFromHome,EmployeeCount,HourlyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,StandardHours,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,1,94,5993,19479,8,11,80,8,0,6,4,0,5
1,49,279,8,1,61,5130,24907,1,23,80,10,3,10,7,1,7
2,37,1373,2,1,92,2090,2396,6,15,80,7,3,0,0,0,0
3,33,1392,3,1,56,2909,23159,1,11,80,8,3,8,7,3,0
4,27,591,2,1,40,3468,16632,9,12,80,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,1,41,2571,12290,4,17,80,17,3,5,2,0,3
1466,39,613,6,1,42,9991,21457,4,15,80,9,5,7,7,1,7
1467,27,155,4,1,87,6142,5174,1,20,80,6,0,6,2,0,3
1468,49,1023,2,1,63,5390,13243,2,14,80,17,3,9,6,0,8
1469,34,628,8,1,82,4404,10228,2,12,80,6,3,4,3,1,2

In [ ]:
y_continuous_data

array([1, 0, 1, ..., 0, 0, 0])

## Dữ liệu phân loại

In [ ]:
classified_data = [
    'BusinessTravel',
    'Department',
    'Education',
    'EducationField',
    'EnvironmentSatisfaction',
    'Gender',
    'JobInvolvement',
    'JobLevel',
    'JobRole',
    'JobSatisfaction',
    'MaritalStatus',
    'Over18',
    'OverTime',
    'PerformanceRating',
    'RelationshipSatisfaction',
    'StockOptionLevel',
    'WorkLifeBalance'
]

In [ ]:
X_classified_data = X[classified_data]
y_classified_data = y_encode.copy()

In [ ]:
X_classified_data

,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,Over18,OverTime,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,WorkLifeBalance
0,Travel_Rarely,Sales,2,Life Sciences,2,Female,3,2,Sales Executive,4,Single,Y,Yes,3,1,0,1
1,Travel_Frequently,Research & Development,1,Life Sciences,3,Male,2,2,Research Scientist,2,Married,Y,No,4,4,1,3
2,Travel_Rarely,Research & Development,2,Other,4,Male,2,1,Laboratory Technician,3,Single,Y,Yes,3,2,0,3
3,Travel_Frequently,Research & Development,4,Life Sciences,4,Female,3,1,Research Scientist,3,Married,Y,Yes,3,3,0,3
4,Travel_Rarely,Research & Development,1,Medical,1,Male,3,1,Laboratory Technician,2,Married,Y,No,3,4,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Travel_Frequently,Research & Development,2,Medical,3,Male,4,2,Laboratory Technician,4,Married,Y,No,3,3,1,3
1466,Travel_Rarely,Research & Development,1,Medical,4,Male,2,3,Healthcare Representative,1,Married,Y,No,3,1,1,3
1467,Travel_Rarely,Research & Development,3,Life Sciences,2,Male,4,2,Manufacturing Director,2,Married,Y,Yes,4,2,1,3
1468,Travel_Frequently,Sales,3,Medical,4,Male,2,2,Sales Executive,2,Married,Y,No,3,4,0,2
1469,Travel_Rarely,Research & Development,3,Medical,2,Male,4,2,Laboratory Technician,3,Married,Y,No,3,1,0,4

## Chuẩn hóa dữ liệu liên tục

In [ ]:
X_continuous_data_std = X_continuous_data.copy()
y_continuous_data_std = y_continuous_data.copy()

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [ ]:
X_continuous_data_std = scaler.fit_transform(X_continuous_data_std)

In [ ]:
X_continuous_data_std

array([[ 0.4463504 ,  0.74252653, -1.01090934, ..., -0.0632959 ,
        -0.67914568,  0.24583399],
       [ 1.32236521, -1.2977746 , -0.14714972, ...,  0.76499762,
        -0.36871529,  0.80654148],
       [ 0.008343  ,  1.41436324, -0.88751511, ..., -1.16768726,
        -0.67914568, -1.15593471],
       ...,
       [-1.08667552, -1.60518328, -0.64072665, ..., -0.61549158,
        -0.67914568, -0.31487349],
       [ 1.32236521,  0.54667746, -0.88751511, ...,  0.48889978,
        -0.67914568,  1.08689522],
       [-0.32016256, -0.43256792, -0.14714972, ..., -0.33939374,
        -0.36871529, -0.59522723]])

In [ ]:
y_continuous_data_std

array([1, 0, 1, ..., 0, 0, 0])

## Giảm chiều dữ liệu liên tục đã chuẩn hóa

Ở trường hợp này chúng tôi chỉ chia train/test trước sau đó giảm chiều sau

### Giảm chiều còn `n` thành phần

In [ ]:
X_continuous_data_pca_std = X_continuous_data.copy()
y_continuous_data_pca_std = y_continuous_data.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train_continuous_data_pca_std, X_test_continuous_data_pca_std, y_train_continuous_data_pca_std, y_test_continuous_data_pca_std = train_test_split(X_continuous_data_pca_std, y_continuous_data_pca_std, test_size=0.3, random_state=42)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('reduce', PCA(n_components=2))
])

X_train_continuous_data_pca_std_2, X_test_continuous_data_pca_std_2 = pipe.fit_transform(X_train_continuous_data_pca_std), pipe.transform(X_test_continuous_data_pca_std)

In [ ]:
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('reduce', PCA(n_components=5))
])

X_train_continuous_data_pca_std_5, X_test_continuous_data_pca_std_5 = pipe.fit_transform(X_train_continuous_data_pca_std), pipe.transform(X_test_continuous_data_pca_std)

In [ ]:
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('reduce', PCA(n_components=10))
])

X_train_continuous_data_pca_std_10, X_test_continuous_data_pca_std_10 = pipe.fit_transform(X_train_continuous_data_pca_std), pipe.transform(X_test_continuous_data_pca_std)

### Giảm chiều giữ lại % Covariance

In [ ]:
X_continuous_data_pca_std = X_continuous_data.copy()
y_continuous_data_pca_std = y_continuous_data.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train_continuous_data_pca_std, X_test_continuous_data_pca_std, y_train_continuous_data_pca_std, y_test_continuous_data_pca_std = train_test_split(X_continuous_data_pca_std, y_continuous_data_pca_std, test_size=0.3, random_state=42)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('reduce', PCA(n_components=0.8))
])

X_train_continuous_data_pca_std_80, X_test_continuous_data_pca_std_80 = pipe.fit_transform(X_train_continuous_data_pca_std), pipe.transform(X_test_continuous_data_pca_std)

In [ ]:
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('reduce', PCA(n_components=0.9))
])

X_train_continuous_data_pca_std_90, X_test_continuous_data_pca_std_90 = pipe.fit_transform(X_train_continuous_data_pca_std), pipe.transform(X_test_continuous_data_pca_std)

In [ ]:
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('reduce', PCA(n_components=0.95))
])

X_train_continuous_data_pca_std_95, X_test_continuous_data_pca_std_95 = pipe.fit_transform(X_train_continuous_data_pca_std), pipe.transform(X_test_continuous_data_pca_std)

## Giảm chiều dữ liệu liên tục chưa chuẩn hóa

### Giảm chiều n thành phần

In [ ]:
X_continuous_data_pca = X_continuous_data.copy()
y_continuous_data_pca = y_continuous_data.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train_continuous_data_pca, X_test_continuous_data_pca, y_train_continuous_data_pca, y_test_continuous_data_pca = train_test_split(X_continuous_data_pca, y_continuous_data_pca, test_size=0.3, random_state=42)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

pipe = Pipeline([
    ('reduce', PCA(n_components=2))
])

X_train_continuous_data_pca_2, X_test_continuous_data_pca_2 = pipe.fit_transform(X_train_continuous_data_pca), pipe.transform(X_test_continuous_data_pca)

In [ ]:
pipe = Pipeline([
    ('reduce', PCA(n_components=5))
])

X_train_continuous_data_pca_5, X_test_continuous_data_pca_5 = pipe.fit_transform(X_train_continuous_data_pca), pipe.transform(X_test_continuous_data_pca)

In [ ]:
pipe = Pipeline([
    ('reduce', PCA(n_components=10))
])

X_train_continuous_data_pca_10, X_test_continuous_data_pca_10 = pipe.fit_transform(X_train_continuous_data_pca), pipe.transform(X_test_continuous_data_pca)

### Giảm giữ lại % covariance

In [ ]:
X_continuous_data_pca = X_continuous_data.copy()
y_continuous_data_pca = y_continuous_data.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train_continuous_data_pca, X_test_continuous_data_pca, y_train_continuous_data_pca, y_test_continuous_data_pca = train_test_split(X_continuous_data_pca, y_continuous_data_pca, test_size=0.3, random_state=42)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

pipe = Pipeline([
    ('reduce', PCA(n_components=0.8))
])

X_train_continuous_data_pca_80, X_test_continuous_data_pca_80 = pipe.fit_transform(X_train_continuous_data_pca), pipe.transform(X_test_continuous_data_pca)

In [ ]:
pipe = Pipeline([
    ('reduce', PCA(n_components=0.9))
])

X_train_continuous_data_pca_90, X_test_continuous_data_pca_90 = pipe.fit_transform(X_train_continuous_data_pca), pipe.transform(X_test_continuous_data_pca)

In [ ]:
pipe = Pipeline([
    ('reduce', PCA(n_components=0.95))
])

X_train_continuous_data_pca_95, X_test_continuous_data_pca_95 = pipe.fit_transform(X_train_continuous_data_pca), pipe.transform(X_test_continuous_data_pca)

## Giảm chiều sử dụng LDA chưa chuẩn hóa

In [ ]:
X_continuous_data_lda = X_continuous_data.copy()
y_continuous_data_lda = y_continuous_data.copy()

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import train_test_split

X_train_continuous_data_lda, X_test_continuous_data_lda, y_train_continuous_data_lda, y_test_continuous_data_lda = train_test_split(X_continuous_data_lda, y_continuous_data_lda, test_size=0.3, random_state=42)
lda = LinearDiscriminantAnalysis(n_components = number_classes - 1)

X_train_continuous_data_lda = lda.fit_transform(X_train_continuous_data_lda, y_train_continuous_data_lda)
X_test_continuous_data_lda = lda.transform(X_test_continuous_data_lda)

## Giảm chiều sử dụng LDA đã chuẩn hóa

In [ ]:
X_continuous_data_lda_std = X_continuous_data.copy()
y_continuous_data_lda_std = y_continuous_data.copy()

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import train_test_split

X_train_continuous_data_lda, X_test_continuous_data_lda, y_train_continuous_data_lda, y_test_continuous_data_lda = train_test_split(X_continuous_data_lda_std, y_continuous_data_lda_std, test_size=0.3, random_state=42)

lda = LinearDiscriminantAnalysis(n_components = number_classes - 1)
pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('reduce', lda)
])

X_train_continuous_data_lda_std = pipe.fit_transform(X_train_continuous_data_lda, y_train_continuous_data_lda)
X_test_continuous_data_lda_std = pipe.transform(X_test_continuous_data_lda)